body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #555555); /* черный → серый */
  justify-content: center;
  font-family: sans-serif;
  text-anchor: start;
}
p {
  color: red;
}
ch {
  color: #bdbdbd;
  margin-left: 200px;
  font-size: 50px;
  align-items: center;
  font-weight: bold;
  font-family: 'Segoe UI';
  text-align:right;
  src: url('fonts/segoe-ui-black.ttf') format('truetype');
}

now {
  font-weight: bold;
  font-size: 100px;
  position: relative;
  left: 1100px;
  text-align: bottom;
  background: linear-gradient(to bottom, #000000, #a8a8a8); /* чёрно-серый градиент */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
    background: linear-gradient(to bottom, #00b7ff, #083a5c); /* чёрно-серый градиент */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Segoe UI';
  margin-left: 100px;
  font-size: 100px;
  transform: translateY(100px);
  text-align:right;
  src: url('fonts/segoe-ui-black.ttf') format('truetype');
}